{% extends "pages/base.html" %}
{% block title %} Вино {% endblock %}
{% block content %}
<h1>
    {{ wine.wine_grade }}, {{ wine.sweetness }}<br>
    Выдержка - {{ wine.extract }}<br>
    Страна - {{ wine.country }}
</h1>
<p>
    {{ wine.text }}
</p>
<h1 class="text-danger">Изменить вино</h1>
<form method="post" action="">
    <div class="form-group">
        {% csrf_token %}
        {{ form.as_ul }}
        <button class="btn btn-warning" type="submit">Изменить</button>
    </div>
</form>
{% endblock %}